#desc {
  z-index: 1000;
  position: absolute;
  width: 250px;
  top: 12%;
  bottom: 6.5%;
  left: 5px;
  border-radius: 10px;
  padding: 0px 10px 10px 10px;
  background: #adc0d6;
  opacity: 0.85;
  color: black;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

#title {
  font-size: 18px;
  text-align: center;
  }